<ion-header [translucent]="true">
  <ion-toolbar color="ple">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pur">

<ion-card *ngIf="item" color="ple">
  <img [src]="item.imageURL" alt="">
  <ion-card-header>
  <ion-card-title> {{item.name}} </ion-card-title>
</ion-card-header>
<ion-card-content>
<ion-list>
 ราคา {{item.price}} บาท
</ion-list>
<ion-list>
  {{item.detail}}
</ion-list>
</ion-card-content>
</ion-card>
</ion-content>
