<ion-content color="ple">
  <ion-grid>
    <ion-col size="12" sizeMd="6" sizeLg="4"
    *ngFor="let i of items">
      <ion-card color="pur" (click)="gotoDetail(i)">
        <img [src]="i.imageURL" alt="">
        <ion-card-header>
          <ion-card-title>
            {{i.name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            {{i.detail}}
          </ion-list>
          <ion-list>
            {{i.price}} บาท
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
</ion-grid>
